/************************************************************************/
/**************************** FOOTER STYLES *****************************/
/************************************************************************/

.footer {
    background-color: $white;
    box-shadow: 0 0 10px -3px $black;
    text-align: center;
    .section--footer {
        @include tablet {
            padding-bottom: 2em;
        }
    }
    .logo-container {
        margin: 0 auto;
        img {
            max-width: 15em;
        }
    }
    .details-container {
        font-size: 0.8em;
    }
    .icons-container {
        margin: 1em 0;
        @include tablet {
            margin-bottom: 2em;
        }
        .icon {
            margin: 0 0.25em;
            img {
                width: 2em;
                height: 2em;
                @include transitionAll();
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
    .buttons-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu-container {
        .footer-nav-1, 
        .footer-nav-2 {
            padding-left: 0;
            list-style-type: none;
            text-align: center;
            li {
                padding: 0.5em;
                a {
                    color: $baseColor;
                    text-transform: uppercase;
                }
            }
            @include tablet {
                flex-basis: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                flex-direction: column;
                li {
                    padding: 1em 0;
                }
            }
        }
        @include tablet {
            .footer-nav-1 {
                text-align: left;
            }
            .footer-nav-2 {
                text-align: right;
            }
        }
    }
    .col-wrapper {
        display: flex;
        flex-direction: column;
        @include tablet {
            flex-direction: row; 
        }
        .col {
            &:first-child {
                order: 2;
                @include tablet {
                    order: 1;
                    flex-basis: 30%;
                }
            }
            &:nth-child(2) {
                order: 1;
                @include tablet {
                    order: 2;
                    flex-basis: 40%;
                }
            }
            &:nth-child(3) {
                order: 3;
                @include tablet {
                    flex-basis: 30%;
                }
            }
        }
    }
    .info-container {
        text-align: center;
        font-size: 0.75em;
        color: $gray;
        font-style: italic;
        a {
            color: $gray;
        }
    }
}