/************************************************************************/
/*********************** GLOBAL DEFAULTS & RESETS ***********************/
/************************************************************************/

:root {
    --body-font: Helvetica, Arial, sans-serif;
    --heading-font: serif;
    --section-padding: 1rem;
    --link-color-example: #000000;
    font-size: $mainFontSize;
}

@include tablet {
    :root {
        --section-padding: 2rem;
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


*:focus,
*:active {
  outline: none;
}


html {
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth; 
    scroll-padding-top: 4rem;
}

body {
    width: 100vw;
    margin: 0;
    padding: 0;
    font-size: 4.27vw;
    background-color: $white;
    color: $baseColor;
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth; 
    font-family: Poppins-Regular;
    @include tablet {
    	font-size: $mainFontSize;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $primary;
    line-height: 1.25;
    margin: 0.25em 0;
}
h1 {
	font-size: 2em;
    @include tablet {
        font-size: 2.5em;
    }
}
h2 {
	font-size: 1.75em;
    @include tablet {
        font-size: 2em;
    }
}
h3 {
	font-size: 1.5em;
    @include tablet {
        font-size: 1.75em;
    }
}
h4 {
	font-size: 1.25em;
    @include tablet {
        font-size: 1.5em;
    }
}
p {
    font-size: 1em;
    line-height: 1.2;
}

a {
    color: $tetriary;
    text-decoration: none;
    transition: 0.25s;
    cursor: pointer;
    &:hover {
        text-decoration: none;
        opacity: 0.8;
       
    }
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
  }

b, strong {
    font-family: Poppins-Bold;
}
/************************************************************************/
/***************************** GLOBAL CLASSES ***************************/
/************************************************************************/

.uppercase {
    text-transform: uppercase;
}

.align--center {
    text-align: center;
}

.align--left {
    text-align: left;
}

.align--right {
    text-align: right;
}

.heading {
    font-size: 1.85em;
    color: $secondary;
    font-family: Span-Bold;
    @include tablet {
        font-size: 2em;
    }
}

.subheading {
    font-size: 1.25em;
    font-family: Poppins-Medium;
    color: $tetriary;
    text-transform: uppercase;
}

.title {
    font-family: Span-Bold;
    font-size: 1.25em;
}

.section {
    width: 100%;
    max-width: 1180px;
    padding: 4em 1em;
    margin: 0 auto;
    position: relative;
    @include tablet {
        padding: 6em 2em;
    }
}

.section-wrapper {
    max-width: 1180px;
	margin: 0 auto;
    z-index: 1;
    position: relative;
}

.image-wrapper {
    width: var(--image-width, auto);
    height: var(--image-height, auto);
    margin: 0 auto;
}

.btn {
    font-size: 0.9em;
    padding: 0.5em 1.5em;
    margin: 0.5em 0;
    transition: 0.25s;
    text-transform: uppercase;
    text-align: center;
    font-family: Poppins-Medium;
    @include dropShadow();
    &:hover {
        opacity: 0.8;
    }
}

.btn-primary {	
    color: $white;
    background-color: $primary;
}

.btn-secondary {
    color: $primary;
    background-color: $secondary;
}

.white-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $white;
    opacity: 0.67;
    z-index: 0;
}

.white-gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient($transparent, $white);
    z-index: 0;
}
.black-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $black;
    opacity: 0.67;
    z-index: 0;
}

.video-wrapper {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    z-index: 1;
    margin: 2em auto;

    iframe,
    object,
    embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
}
/******************* HELPERS *********************/

.desktop-only {
    display: none!important;
    @include tablet {
        display: block!important;
    }
}

.mobile-only {
    display: block!important;
    @include tablet {
        display: none!important;
    }
}

.hide {
    display: none;
}

.show {
    display: block;
}

.full-width {
    width: 100%;
    max-width: 100%;
}

.no-padded-sides {
    padding-left: 0;
    padding-right: 0;
}

.no-padded-top {
    padding-top: 0;
}

.no-padded-bottom {
    padding-bottom: 0;
}

/******************* NATIVE PAGES *********************/
.section.error {
    @include tablet {
        min-height: calc(100vh - 315px);
    }
}

/******************* SLICK SLIDER *********************/
.slick-slider {
    .slick-track {
        display: flex;
        .slick-slide {
            display: flex;
            height: auto;
            align-items: center;
            justify-content: center;
            padding: 0 1em;
            img {
                width: 100%;
            }
        }
    }
    .slick-dots  {
        bottom: -3em;
        li {
            button:before {
                opacity: 1;
                font-size: 15px;
                color: $secondary;
            }
            &.slick-active {
                button:before {
                    opacity: 1;
                    color: $primary;
                }
            }
        }
    }
}
/********* BLOG SINGLE AND ARCHIVE PAGE STYLES **********/
.main--archive .category li a,
.main--single .category li a,
.main--single .btn-back {
    color:  $primary;
}
